# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察均值編碼的效果

# [作業重點]
- 仿造範例, 完成標籤編碼與均值編碼搭配邏輯斯迴歸的預測
- 觀察標籤編碼與均值編碼在特徵數量 / 邏輯斯迴歸分數 / 邏輯斯迴歸時間上, 分別有什麼影響 (In[3], Out[3], In[4], Out[4])

# 作業1
* 請仿照範例，將鐵達尼範例中的類別型特徵改用均值編碼實作一次

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

data_path = './'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head(30)

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S
5,"Moran, Mr. James",male,330877,None,Q
6,"McCarthy, Mr. Timothy J",male,17463,E46,S
7,"Palsson, Master. Gosta Leonard",male,349909,None,S
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,347742,None,S
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,237736,None,C
10,"Sandstrom, Miss. Marguerite Rut",female,PP 9549,G6,S
11,"Bonnell, Miss. Elizabeth",female,113783,C103,S
12,"Saundercock, Mr. William Henry",male,A/5. 2151,None,S
13,"Andersson, Mr. Anders Johan",male,347082,None,S
14,"Vestrom, Miss. Hulda Amanda Adolfina",female,350406,None,S
15,"Hewlett, Mrs. (Mary D Kingcome)",female,248706,None,S
16,"Rice, Master. Eugene",male,382652,None,Q
17,"Williams, Mr. Charles Eugene",male,244373,None,S
18,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,345763,None,S
19,"Masselmani, Mrs. Fatima",female,2649,None,C
20,"Fynney, Mr. Joseph J",male,239865,None,S
21,"Beesley, Mr. Lawrence",male,248698,D56,S
22,"McGowan, Miss. Anna ""Annie""",female,330923,None,Q
23,"Sloper, Mr. William Thompson",male,113788,A6,S
24,"Palsson, Miss. Torborg Danira",female,349909,None,S
25,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,347077,None,S
26,"Emir, Mr. Farred Chehab",male,2631,None,C
27,"Fortune, Mr. Charles Alexander",male,19950,C23 C25 C27,S
28,"O'Dwyer, Miss. Ellen ""Nellie""",female,330959,None,Q
29,"Todoroff, Mr. Lalio",male,349216,None,S

# 作業2
* 觀察鐵達尼生存預測中，均值編碼與標籤編碼兩者比較，哪一個效果比較好? 可能的原因是什麼?

In [8]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸
"""
Your Code Here
"""
df_temp = pd.DataFrame()
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
train_X = df_temp[:train_num]
estimator = LogisticRegression()

start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, train_X, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 0.7800138095537004
time : 0.7095892429351807 sec

In [12]:
# 均值編碼 + 邏輯斯迴歸
data = pd.concat([df[:train_num], train_Y], axis=1)
for c in df.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
print(data.head(30))
# data = data.drop(['Survived', 'Name_mean', 'Ticket_mean'] , axis=1)
data = data.drop(['Survived',] , axis=1)
estimator = LogisticRegression()

start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

    Survived  Name_mean  Sex_mean  Ticket_mean  Cabin_mean  Embarked_mean
0          0          0  0.188908         0.00    0.299854       0.336957
1          1          1  0.742038         1.00    1.000000       0.553571
2          1          1  0.742038         1.00    0.299854       0.336957
3          1          1  0.742038         0.50    0.500000       0.336957
4          0          0  0.188908         0.00    0.299854       0.336957
5          0          0  0.188908         0.00    0.299854       0.389610
6          0          0  0.188908         0.00    0.000000       0.336957
7          0          0  0.188908         0.00    0.299854       0.336957
8          1          1  0.742038         1.00    0.299854       0.336957
9          1          1  0.742038         0.50    0.299854       0.553571
10         1          1  0.742038         1.00    0.500000       0.336957
11         1          1  0.742038         1.00    1.000000       0.336957
12         0          0  0.188908         0.00    0.299854       0.336957
13         0          0  0.188908         0.00    0.299854       0.336957
14         0          0  0.742038         0.00    0.299854       0.336957
15         1          1  0.742038         1.00    0.299854       0.336957
16         0          0  0.188908         0.00    0.299854       0.389610
17         1          1  0.188908         1.00    0.299854       0.336957
18         0          0  0.742038         0.00    0.299854       0.336957
19         1          1  0.742038         1.00    0.299854       0.553571
20         0          0  0.188908         0.00    0.299854       0.336957
21         1          1  0.188908         1.00    1.000000       0.336957
22         1          1  0.742038         1.00    0.299854       0.389610
23         1          1  0.188908         1.00    1.000000       0.336957
24         0          0  0.742038         0.00    0.299854       0.336957
25         1          1  0.742038         0.75    0.299854       0.336957
26         0          0  0.188908         0.00    0.299854       0.553571
27         0          0  0.188908         0.50    0.500000       0.336957
28         1          1  0.742038         1.00    0.299854       0.389610
29         0          0  0.188908         0.00    0.299854       0.336957
shape : (891, 5)
score : 1.0
time : 0.35878539085388184 sec

In [ ]:
觀察鐵達尼生存預測中，均值編碼與標籤編碼兩者比較，哪一個效果比較好? 可能的原因是什麼?
A:均值編碼 + 邏輯斯迴歸 比較好, run time比較短